@import '../../../../style/themes/bitmatrix.scss';

.issue-token-page-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $bmDeepFir;
  width: 100%;
  animation: fadeAndScale 1s linear;
  animation-delay: -0.2s;
  transform-origin: center bottom;

  @keyframes fadeAndScale {
    0% {
      opacity: 0;
      transform: scale3d(0.5, 0.5, 1);
    }
    50% {
      opacity: 0;
      transform: scale3d(0.75, 0.75, 1);
    }
    100% {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
  .issue-token-page-content {
    position: relative;
    margin: 0 auto;
    border: 2px solid var(--theme-color);
    border-radius: 1.5rem;
    padding: 0.75rem;
    min-height: 20.8125rem;
    z-index: 6;
    width: 95%;

    .issue-token-button-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .issue-token-page-back-button {
      width: 100%;
      height: 3rem;
      display: flex !important;
      align-items: center;
      border-radius: 1rem !important;
      background: $bmNero !important;
      opacity: 0.8;
      padding: 8px 12px 8px 0;

      &:hover {
        opacity: 1;
      }

      .issue-token-back-text {
        margin-left: 0.5rem;
        color: var(--theme-color);
      }
    }

    .issue-token-page-line-1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1.5rem 0;

      .issue-token-dropdown {
        .rs-dropdown-menu {
          width: 5rem;
        }

        .rs-btn-default {
          background: transparent !important;
          border: 2px solid $bmBoltgunMetal !important;
          width: 5rem;
        }
      }
    }

    .issue-token-input {
      border: none;
      background: transparent;
      border-bottom: 2px solid $bmBoltgunMetal;
      border-radius: 0;
    }

    .issue-token-page-line-2 {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 1.5rem 0;

      .issue-token-uploader {
        width: 25.25rem !important;

        .rs-uploader-trigger-btn {
          width: 100% !important;
          height: 2.5rem !important;
          background: $bmBoltgunMetal;
          color: $bmSpanishGrey;
        }
      }
    }
  }
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .issue-token-page-main {
    .issue-token-page-content {
      width: 48rem;
      padding: 1.5rem;

      .issue-token-button {
        width: 25rem;
        margin-top: 1rem;
      }
    }
  }
}
