@import '../../style/constant.scss';

.pool-detail-main {
  border: 1px solid #adfbc4;
  position: relative;
  border-radius: 1rem;
  margin-top: 1rem;
  width: 60rem;
  height: 30rem;
}

.pool-detail-header-left {
  display: flex;
  align-items: center;
}

.pool-detail-tabs {
  margin-right: 5rem;
}

.pool-detail-navbar-item {
  margin: 0 1rem;
}

.pool-detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}

.pool-detail-page-text {
  margin-left: 1rem;
  color: $liquidNeonColor;
}

.pool-detail-back-icon {
  height: 3rem !important;
  font-size: 3rem !important;
  color: $liquidNeonColor !important;
}

.pool-detail-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100% - 4rem);
  padding: 1rem;
}

.pool-detail-content-left {
  width: calc(30% - 0.5rem);
  height: 100%;
  margin-right: 0.5rem;
  background: #171718;
  border-radius: 1rem;
  padding: 1rem;
  color: $navbarTextColor;
}

.pool-detail-content-right {
  width: calc(70% - 0.5rem);
  margin-left: 0.5rem;
  height: 100%;
}

.pool-detail-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
}

.pool-detail-img-content {
  display: flex;
  align-items: center;
}

.pool-detail-img {
  width: 1.5rem;
  margin-right: 1rem;
}

.pool-detail-amount {
  margin: 1rem 0;
}

.pool-detail-volume-fee {
  width: 100%;
  margin: 1rem 0;
}

.pool-detail-table {
  width: 100%;
  text-align: center;
}

.pool-detail-table td,
th {
  text-align: center;
  padding: 0.25rem 1rem;
  min-width: 8rem;
}

.pool-detail-arrow-down-icon {
  color: red;
  font-size: 0.8rem !important;
}

.pool-detail-table-arrow-down-text {
  margin-left: 0.25rem;
  color: red;
  font-size: 0.875rem;
}

.pool-detail-arrow-up-icon {
  color: green;
  font-size: 0.8rem !important;
}

.pool-detail-table-arrow-up-text {
  margin-left: 0.25rem;
  color: green;
  font-size: 0.875rem;
}

.pool-detail-table-text {
  color: #d4d4d4;
  font-size: 1rem;
  font-weight: 600;
}

.pool-detail-tabs .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle,
.pool-detail-tabs .rs-nav-item-active > .rs-nav-item-content,
.pool-detail-tabs
  .rs-dropdown
  .rs-dropdown-menu-active
  ~ .rs-dropdown-toggle:hover,
.pool-detail-tabs .rs-nav-item-active > .rs-nav-item-content:hover,
.pool-detail-tabs
  .rs-dropdown
  .rs-dropdown-menu-active
  ~ .rs-dropdown-toggle:focus,
.pool-detail-tabs .rs-nav-item-active > .rs-nav-item-content:focus,
.pool-detail-tabs
  .rs-dropdown
  .rs-dropdown-menu-active
  ~ .rs-dropdown-toggle:active,
.pool-detail-tabs .rs-nav-item-active > .rs-nav-item-content:active {
  color: $liquidNeonColor !important;
}

.pool-detail-tabs .rs-nav-item-content::before {
  background-color: $liquidNeonColor !important;
}
