@import '../../style/themes/bitmatrix.scss';

.pool-detail-container {
  // height: 33rem;
  width: 95%;
}

.pool-detail-main {
  border: 2px solid $bmPaleGreen;
  position: relative;
  border-radius: 1.5rem;
  height: 31rem;
  width: 100%;
  // margin-top: 3.5rem;
}

.pool-detail-header-left {
  display: flex;
  align-items: center;
}

.pool-detail-header {
  padding: 0.75rem 0.75rem 0 0.75rem;
}

.pool-detail-page-text {
  margin-left: 1rem;
  color: $bmPaleGreen;
}

.pool-detail-back-icon {
  height: 3rem !important;
  font-size: 3rem !important;
  color: $bmPaleGreen !important;
  cursor: pointer;
}

.pool-detail-content {
  height: calc(100% - 0.5rem);
  padding: 0.75rem;
}

.pool-detail-content-left {
  background: $bmBlackRussian;
  border-radius: 1rem;
  padding: 0.5rem;
  color: $bmAluminium;
}

.pool-detail-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.25rem;

  .left-side {
    width: 65%;
  }
}

.pool-detail-img-content {
  display: flex;
  align-items: center;
}

.pool-detail-img {
  width: 1.5rem;
  margin-right: 0.25rem;
}

.pool-detail-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.pool-detail-volume-fee {
  width: 100%;
  margin: 0.25rem 0;
}

.pool-detail-table {
  width: 100%;
  text-align: center;
}

.pool-detail-table td,
th {
  text-align: center;
  padding: 0.25rem 1rem;
  min-width: 8rem;
}

.pool-detail-arrow-down-icon {
  color: $bmRed;
  font-size: 0.8rem !important;
}

.pool-detail-table-arrow-down-text {
  margin-left: 0.25rem;
  color: $bmRed;
  font-size: 0.75rem;
}

.pool-detail-arrow-up-icon {
  color: $bmGreen;
  font-size: 0.8rem !important;
}

.pool-detail-table-arrow-up-text {
  margin-left: 0.25rem;
  color: $bmGreen;
  font-size: 0.75rem;
}

.pool-detail-table-text {
  color: $LightGray;
  font-size: 1rem;
  font-weight: 600;
}

.pool-detail-item-detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0rem 0.125rem 0rem 0.125rem;

  .left-side {
    width: 65%;
  }
}

.pool-detail-tabs .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle,
.pool-detail-tabs .rs-nav-item-active > .rs-nav-item-content,
.pool-detail-tabs .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle:hover,
.pool-detail-tabs .rs-nav-item-active > .rs-nav-item-content:hover,
.pool-detail-tabs .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle:focus,
.pool-detail-tabs .rs-nav-item-active > .rs-nav-item-content:focus,
.pool-detail-tabs .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle:active,
.pool-detail-tabs .rs-nav-item-active > .rs-nav-item-content:active {
  color: $bmPaleGreen !important;
}

.pool-detail-tabs .rs-nav-item-content::before {
  background-color: $bmPaleGreen !important;
}

.pool-detail-content-right {
  margin-bottom: 0.5rem;
  height: calc(100% - 21rem);
}

.pool-detail-content-right svg {
  border-radius: 1rem;
}

.pool-detail-content-left-header {
  padding-left: 0.5rem;
  font-size: 0.9375rem;
  font-weight: 500;
}

.pool-detail-button {
  display: flex !important;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-radius: 1rem !important;
  background: $bmBlackRussian !important;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.pool-detail-add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.25rem;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .pool-detail-container {
    width: unset;
  }

  .pool-detail-main {
    width: 60rem;
    height: 28rem;
    // margin-top: 2.5rem;
  }

  .pool-detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
  }

  .pool-detail-header-right {
    margin-right: 5rem;
  }

  .pool-detail-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100% - 4rem);
    padding: 1rem;
  }

  .pool-detail-content-left {
    // width: calc(30% - 0.5rem);
    width: 17rem;
    height: 100%;
    margin-right: 0.5rem;
    background: $bmBlackRussian;
    border-radius: 1rem;
    padding: 1rem;
    color: $bmAluminium;
  }

  .pool-detail-tabs {
    margin-right: 5rem;
  }

  .pool-detail-navbar-item .rs-nav-item-content {
    padding: 0.5rem 1.5rem !important;
  }

  .pool-detail-content-right {
    width: calc(100% - 18rem);
    margin-left: 0.5rem;
    height: 100%;
    margin-bottom: unset;
  }

  .pool-detail-button {
    width: 17rem;
    height: 2.75rem;
  }

  .pool-detail-amount {
    margin: 0.5rem 0;
    display: block;
    width: 100%;
  }

  .pool-detail-volume-fee {
    margin: 0.5rem 0;
  }

  .pool-detail-item {
    margin: 0.5rem;
  }

  .pool-detail-item-detail {
    margin: 0.5rem 0.5rem 0.25rem 0.5rem;
  }

  .pool-detail-img {
    margin-right: 1rem;
  }
}
