@import '../style/themes/bitmatrix.scss';

.app-router-main {
  background: $bmDeepFir;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.secret-top-div {
  height: 5rem;
  background: $bmBlack;
  z-index: 4;
  width: 100%;
  position: fixed;
  top: 0rem;
}

.secret-footer-div {
  height: 2.5rem;
  background: $bmBlack;
  z-index: 4;
  width: 100%;
  position: fixed;
  bottom: 0rem;
}

.app-container {
  width: 100%;
  height: calc(100% - 7.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  background: $bmBlack !important;

  .app-content {
    width: 100%;

    .error-content {
      text-align: center;
      font-size: 2rem;
    }
  }
}

@media (min-height: $mobile-view-breakpoint) and (min-width: $mobile-view-breakpoint) {
  .app-container {
    width: 100%;
    height: calc(100% - 14.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
  }

  .secret-top-div {
    height: 8rem;
    background: $bmBlack;
    z-index: 4;
    width: 100%;
    position: fixed;
    top: 0rem;
  }

  .secret-footer-div {
    height: 5.5rem;
  }
}
