@import './params.scss';
@import url('//fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

$fontFamily: 'Noto Sans JP', sans-serif !important;

$bmMediumDarkGray: #575757;
$bmCarrotOrange: #f7921a;
$bmGhost: #c8c7cb;
$bmPuertoRico: #45b4a4;
$bmPaleGreen: #adfbc4;
$bmDeepFir: #010403;
$bmShadyLady: #999999;
$bmWhite: #cccccc;
$bmYellow: #f29e4b;
$bmRed: #eb4869;
$bmBlue: #5297f7;
$bmPink: #eb48f7;
$bmTurquoise: #92fbfd;
$bmBastille: #333334;
$bmAluminium: #818489;
$bmNero: #181818;
$bmBlack: #000000
