@import '../../style/themes/bitmatrix.scss';

.first-div {
  background: #adfbc4;
  height: 31.2rem;
}

.second-div {
  position: absolute;
  width: 75%;
  height: 9.3rem;
  border-top: 1.5rem black solid;
  border-left: 1.5rem black solid;
  border-right: 1.5rem black solid;
  border-top-left-radius: 4.3rem;
  border-top-right-radius: 4.3rem;
  bottom: 20.5rem;
  margin-left: 1.8rem;
  padding: 1.2rem;
}

.third-div {
  position: absolute;
  background: #323232;
  height: 15.6rem;
  width: 100%;
  bottom: 5.3rem;
  margin-left: 1.8rem;
}

.box-icon {
  position: absolute;
  left: 2.5rem;
  width: 5rem;
  height: 5rem;
  fill: black;
}

.lbtc-box {
  position: absolute;
  background: black;
  left: 11rem;
  top: 1.5rem;
  width: 10rem;
  height: 4.5rem;
  border-radius: 2rem;
}

.lbtc-icon {
  position: absolute;
  top: 1rem;
}

.lbtc-value {
  position: absolute;
  left: 4rem;
  top: 1rem;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
}

.tether-box {
  position: absolute;
  background: black;
  top: 1.5rem;
  left: 25rem;
  width: 10rem;
  height: 4.5rem;
  border-radius: 2rem;
}

.tether-icon {
  position: absolute;
  top: 1rem;
}

.tether-value {
  position: absolute;
  left: 4rem;
  top: 1rem;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
}

.price-div {
  position: absolute;
  left: 4rem;
  top: 1.5rem;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.value {
  color: $LightGray;
  font-size: 0.875rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.icon-content {
  display: flex;
  align-items: center;
  margin-top: 0.125rem;
  font-size: 1.5rem;

  .arrow {
    svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .arrow-up-text {
    margin-left: 0.25rem;
    color: $bmGreen;
  }

  .arrow-down-text {
    margin-left: 0.25rem;
    color: $bmRed;
  }
}

.volume-div {
  position: absolute;
  left: 16rem;
  top: 1.5rem;
}

.tvl-div {
  position: absolute;
  right: 20rem;
  top: 1.5rem;
}
