@import '../../style/themes/bitmatrix.scss';

.pool-summary-container {
  position: relative;
  background: $bmPaleGreen;
  height: 28rem;
  width: 100%;

  .pool-summary-black-container {
    position: relative;
    width: 39rem;
    height: 10.3rem;
    border-top: 0.5rem $bmBlack solid;
    border-left: 0.5rem $bmBlack solid;
    border-right: 0.5rem $bmBlack solid;
    border-top-left-radius: 4.3rem;
    border-top-right-radius: 4.3rem;
    top: 3.2rem;
    margin-left: 1.8rem;
    padding: 1.2rem;
    background: $bmBlack;

    .pool-summary-palegreen-container {
      border-radius: 3.3rem;
      background: $bmPaleGreen;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .pool-summary-box-icon {
        width: 5rem;
        height: 5rem;
        fill: $bmBlack;
        margin-right: 3rem;
      }

      .pool-summary-lbtc-container {
        position: relative;
        background: $bmBlack;
        min-width: 10rem;
        height: 4.5rem;
        border-radius: 2rem;
        margin-right: 3rem;

        .pool-summary-lbtc-icon {
          position: absolute;
          top: 1rem;
        }

        .pool-summary-lbtc-value {
          position: absolute;
          left: 4rem;
          top: 1rem;
          color: $bmWhite;
          font-size: 1.7rem;
          font-weight: bold;
        }
      }

      .pool-summary-tether-container {
        position: relative;
        background: $bmBlack;
        min-width: 10rem;
        height: 4.5rem;
        border-radius: 2rem;

        .pool-summary-tether-icon {
          position: absolute;
          top: 1rem;
        }

        .pool-summary-tether-value {
          position: absolute;
          left: 4rem;
          top: 1rem;
          color: $bmWhite;
          font-size: 1.7rem;
          font-weight: bold;
        }
      }
    }
  }

  .pool-summary-pool-metrics-container {
    position: absolute;
    background: $bmBlack;
    height: 14.5rem;
    width: 96%;
    bottom: 0;
    margin-left: 1.8rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-top-right-radius: 4.3rem;
  }
}

.pool-summary-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.pool-summary-value {
  color: $LightGray;
  font-size: 0.875rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.pool-summary-icon-content {
  display: flex;
  align-items: center;
  margin-top: 0.125rem;
  font-size: 1.5rem;

  .pool-summary-arrow {
    svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .pool-summary-arrow-up-text {
    margin-left: 0.25rem;
    color: $bmGreen;
  }

  .pool-summary-arrow-down-text {
    margin-left: 0.25rem;
    color: $bmRed;
  }
}
