@import '../../style/themes/bitmatrix.scss';

.pool-page-main {
  width: 100%;
  border: 2px solid $bmPaleGreen;
  position: relative;
  border-radius: 1.5rem;
  height: 100%;
  background-color: $bmDeepFir;
}

.pool-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.pool-page-content {
  position: relative;
  height: 48vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem 1rem 0.5rem 1rem;
  margin-bottom: 0.75rem;

  // for demo
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-pool-text {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  font-size: 1.5rem;
}

.pool-page-content::-webkit-scrollbar {
  width: 0.5rem;
}

.pool-page-content::-webkit-scrollbar-track {
  background: transparent;
}

.pool-page-content::-webkit-scrollbar-thumb {
  background: $bmBastille;
}

.pool-page-content::-webkit-scrollbar-thumb:hover {
  background: $bmMortar;
}

.pool-page-card {
  margin: 1rem 0;
}

.pool-page-button {
  background-color: transparent !important;
  color: $bmPaleGreen;
}

.pool-page-icon {
  color: $bmPaleGreen;
  font-size: 1.5rem !important;
}

.pool-page-tabs .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle,
.pool-page-tabs .rs-nav-item-active > .rs-nav-item-content,
.pool-page-tabs .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle:hover,
.pool-page-tabs .rs-nav-item-active > .rs-nav-item-content:hover,
.pool-page-tabs .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle:focus,
.pool-page-tabs .rs-nav-item-active > .rs-nav-item-content:focus,
.pool-page-tabs .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle:active,
.pool-page-tabs .rs-nav-item-active > .rs-nav-item-content:active {
  color: $bmPaleGreen !important;
}

.pool-page-tabs .rs-nav-item-content::before {
  background-color: $bmPaleGreen !important;
}

.pool-page-shadow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 90%;
  background: $bmBlack;
  border-radius: 0 0 1rem 1rem;
  -webkit-box-shadow: 0px -34px 25px 40px $bmBlack;
  -moz-box-shadow: 0px -34px 25px 40px $bmBlack;
  box-shadow: 0px -34px 25px 40px $bmBlack;
  opacity: 0.87;
}

.tab-1 {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 0.5rem;
}

.tab-2 {
  transform: translate(100%);
  transition: transform 300ms ease-in-out;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 100%;
  width: 100%;
  padding: 0 0.5rem;
}

.add-buttons-content {
  position: absolute;
  top: 3.5rem;
  right: 1rem;
  z-index: 500;
  display: flex;
  flex-direction: column;
  width: 13rem;
  background-color: $bmEbony;
  border-radius: 1.25rem;
  padding: 0.35rem;
  animation: fadein 2s ease;

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.pm-add-button {
  width: 100%;
  height: 3rem;
  font-weight: 600 !important;
  color: $bmDeepFir !important;
  background: $bmPaleGreen !important;
  border-width: 0 !important;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}

.pm-add-liquidity {
  border-top-right-radius: 1.25rem !important;
  border-top-left-radius: 1.25rem !important;
  border-bottom-left-radius: 0.75rem !important;
  border-bottom-right-radius: 0.75rem !important;
  margin-bottom: 0.35rem !important;
}

.pm-create-new-pool {
  border-top-right-radius: 0.75rem !important;
  border-top-left-radius: 0.75rem !important;
  border-bottom-left-radius: 1.25rem !important;
  border-bottom-right-radius: 1.25rem !important;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .pool-page-main {
    width: 48rem;
  }

  .pool-page-content {
    height: 52vh;
  }

  .tab-1 {
    padding: 0 1rem;
  }

  .tab-2 {
    padding: 0 1rem;
  }
}
