@import '../../style/themes/bitmatrix.scss';

.swap-page-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $bmBlack;
  text-align: center;
}

.swap-page-main-content {
  flex: unset !important;
}

.bitmatrix-icon {
  width: 6rem;
  margin-bottom: 1rem;
}

.swap-page-content {
  position: relative;
  margin: 0 auto;
  display: flex;
  border: 2px solid var(--theme-color);
  border-radius: 1.5rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 23rem;
  padding: 1.5rem;
  z-index: 6;
  min-height: 20.8125rem;
}

.swap-page-loading {
  z-index: 999;
  position: fixed;
  background: $bmBlackRussian;
  opacity: 0.5;
  bottom: 4rem !important;
}

.from-content {
  display: flex;
  // align-items: center;
  border: 1px solid $bmDimGray;
  border-radius: 1rem;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.invalid-content {
  border: 1px solid $bmRed;
}

.from-input-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;

  .create-new-pool-img-content {
    display: flex;
    align-items: center;
    color: #f3f3f3;

    .create-new-pool-lbtc-icon {
      margin-right: 0.5rem;
    }
  }

  .asset-button-default-text-container {
    display: flex;
    align-items: center;
  }

  .asset-arrow-icon {
    transform: translateY(2px);
    margin-left: 0.5rem;
  }
}

.asset-button {
  width: 100%;
  height: 2.75rem;
  border-radius: 1rem !important;
  font-weight: 600 !important;
  color: $bmDeepFir !important;
  background-color: var(--theme-color) !important;
  border-width: 0 !important;
  opacity: 0.9;
  min-width: 5.625rem;

  .rs-btn-spin {
    &::before {
      width: 1.5rem !important;
      height: 1.5rem !important;
      border: 3px solid $bmAluminium;
    }

    &::after {
      width: 1.5rem !important;
      height: 1.5rem !important;
      border-top: 3px solid $bmDeepFir !important;
    }
  }

  &:hover {
    background-color: var(--theme-color);
    opacity: 1;
  }

  &:focus {
    background-color: var(--theme-color);
  }
}

.asset-button-selected {
  background: #121111 !important;
  color: #f3f3f3 !important;
}

// .from-amount-div {
//   padding: 0.5rem 1rem;
// }

.from-text {
  text-align: left;
  user-select: none;
}

.from-input {
  width: 9.25rem;
  // height: 2rem;
  background: $bmBlack;
  border-width: 0px;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  color: $bmShadyLady;
  user-select: none;
  &::placeholder {
    color: $bmShadyLady !important;
    line-height: 2rem;
    margin-bottom: 2rem;
    opacity: 0.7;
  }
}

.swap-arrow-icon {
  margin: 0.5rem 0;
  cursor: pointer;
}

.swap-dropdown-item {
  display: flex;
  align-items: center;
}

.swap-page-tabs {
  height: 2.5rem;
  display: flex;
  position: relative;
}

.swap-page-tab-left {
  border-left: 1px solid $bmWhite;
  border-color: var(--theme-color) !important;
  border-top: 1px solid $bmWhite;
  width: 38%;
  border-color: var(--theme-color) !important;
  background: $bmCardinGreen;
  color: var(--theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
}

.swap-page-tab-left span:after {
  border-top: 2.5rem solid transparent;
  border-left: 29px solid $bmCardinGreen;
  right: 195px;
  content: '';
  width: 0px;
  height: 0px;
  top: 0px;
  position: absolute;
}

.swap-page-tab-left span:before {
  border-top: 49px solid;
  border-left: 1px solid;
  right: 209px;
  content: '';
  width: 0px;
  height: 0px;
  top: -4px;
  position: absolute;
  z-index: 5;
  transform: rotate(145deg);
}

.swap-page-tab-middle {
  width: 24%;
}

.swap-page-tab-right {
  width: 38%;
  border-right: 1px solid $bmWhite;
  border-top: 1px solid $bmWhite;
  border-color: var(--theme-color) !important;
  background: $bmCardinGreen;
  color: var(--theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
}

.selected {
  background: var(--theme-color) !important;
  color: $bmBlack !important;
}

.selected span:after {
  border-left-color: var(--theme-color) !important;
  border-right-color: var(--theme-color) !important;
  z-index: 6 !important;
}

.swap-page-tab-right span:after {
  border-top: 2.5rem solid transparent;
  border-right: 29px solid $bmCardinGreen;
  left: 195px;
  content: '';
  width: 0px;
  height: 0px;
  top: 0px;
  position: absolute;
}

.swap-page-tab-right span:before {
  border-top: 49px solid;
  border-left: 1px solid;
  right: 150px;
  content: '';
  width: 0px;
  height: 0;
  top: -4px;
  position: absolute;
  z-index: 5;
  transform: rotate(215deg);
}

.info-img {
  width: 2rem;
}

.rs-radio-group-picker {
  .rs-radio-checker {
    > label {
      color: $bmGreySuit !important;
    }
  }
}

.rs-radio-group-picker {
  color: unset !important;
  .rs-radio-checked {
    .rs-radio-checker {
      > label {
        color: $bmDenim !important;
      }
    }
  }
}

.notificationTx {
  overflow-wrap: break-word;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .bitmatrix-icon {
    margin-bottom: 3rem;
  }
  .swap-page-main {
    justify-content: unset;
    margin-top: 0;
  }

  .swap-button {
    height: 2.75rem;
  }
}
