@import '../../../style/themes/bitmatrix.scss';

.general-main {
  padding: 1rem 1rem 0 1rem;
}

.general-item-head {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
}

.general-item-first-head {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 1.25rem;
}

.general-title {
  color: $bmVeryLightGray;
}

.general-icon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.general-item {
  margin-left: 0.5rem;
  margin-bottom: 2.5rem;
}

.prefferred-unit {
  width: 70%;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .general-item {
    margin-left: 1rem;
  }
}
