@import '../../style/themes/bitmatrix.scss';

.info-card-main {
  background: $bmBastille;
  border-radius: 1rem;
  min-width: 25rem;
  position: relative;
  min-height: 6.5rem;
  padding: 0 0.25rem;
  border: 1px solid $bmBastille;

  ::-webkit-scrollbar-track {
    border-radius: 1rem;
    // background: $bmBastille;
  }

  ::-webkit-scrollbar {
    width: 1px;
    // background-color: $bmCardinGreen;
  }

  .info-card-content {
    max-height: 30.5rem;
    overflow-y: auto;
    top: 0.25rem;
    width: 100%;
    border-top-left-radius: 0.875rem;
    border-top-right-radius: 0.875rem;
    position: relative;

    .info-card-item {
      background: $bmDeepFir;
      padding: 1rem;
      margin-bottom: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:first-child {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }

      .info-card-item-icon-2 {
        width: 1.563rem;
      }
    }
  }

  .info-card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    font-size: 0.9375rem;
    font-weight: 500;
    color: $bmAluminium;
    width: 100%;
  }
}

.explorer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 999;
  background-color: rgba(black, 0.8);
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}
