@import '../../style/themes/bitmatrix.scss';

.home-page-main {
  display: block;
  width: 20rem;
  border: 1px solid $bmBlack;
  border-radius: 1.5rem;
  background-color: $bmPaleGreen;
  margin-top: 6rem;
  margin: 0 auto;
  user-select: none;
}

.home-page-desc {
  width: 100%;
  padding: 0.75rem;
}

.home-page-img {
  width: 18rem;
}

.home-page-img-content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.home-page-desc-header {
  color: $bmBlack;
}

.home-page-desc-content {
  display: none;
  margin: 1rem 0;
  font-weight: 500;
}

.home-page-start-button {
  background-color: $bmBlack !important;
  width: 100%;
  height: 3rem;
  border-radius: 1rem !important;
  color: $bmPaleGreen !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.home-page-start-button:hover {
  opacity: 0.8;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .home-page-main {
    display: flex;
    width: 47.5rem;
    border: 1px solid $bmBlack;
    border-radius: 1.5rem;
    background-color: $bmPaleGreen;
  }

  .home-page-desc {
    width: 60%;
    padding: 2rem;
  }

  .home-page-desc-content {
    display: block;
  }

  .home-page-img-content {
    display: flex;
    align-items: center;
    width: 40%;
    padding-bottom: 0;
    padding-top: 0;
  }

  .home-page-start-button {
    height: 2.75rem;
  }
}

@media (max-height: $mobile-view-breakpoint) and (min-width: $mobile-view-breakpoint) {
  .home-page-container {
    margin-bottom: 0;
  }
}
