@import '../../style/themes/bitmatrix.scss';

.from-selection {
  align-self: center;
  padding: 0.5rem;

  .rs-btn {
    width: 7.5rem !important;
    color: $bmShadyLady;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  .rs-btn-default {
    background-color: $bmBlack !important;
    &:hover {
      background-color: $bmBlack;
    }
  }

  .rs-dropdown-item-content {
    border-bottom: 2px solid $bmDeepFir;
  }

  .rs-dropdown-toggle-caret {
    top: 0.75rem !important;
    right: 0.5rem !important;
  }

  .rs-dropdown-menu {
    background-color: $bmBlackRussian !important ;
    min-width: 7.5rem !important;
  }

  .rs-dropdown-menu > .rs-dropdown-item-active > .rs-dropdown-item-content {
    background-color: $bmShadyLady !important;
  }

  .rs-dropdown-menu > .rs-dropdown-item > .rs-dropdown-item-content:hover {
    background-color: $bmShadyLady !important;
  }

  .rs-dropdown-item {
    &:hover {
      background-color: $bmShadyLady !important;
      color: $bmMediumDarkGray;
    }
  }

  .rs-dropdown-item-active {
    background-color: $bmShadyLady !important;
    color: $bmMediumDarkGray !important;
  }

  .swap-dropdown-item {
    .swap-dropdown-item-img {
      margin-right: 0.5rem;
    }
  }
}
