@import '../../style/constant.scss';

.tabMenu {
  height: 48px;
  display: flex;
  white-space: nowrap;
  position: relative;
  // text-transform: uppercase;
  font-size: 0.85rem;
}

.tabMenuItem {
  flex: 1;
  margin: 0 auto;
  text-align: center;
  display: table;
  height: 100%;
  cursor: pointer;
  max-width: 100%;
  font-weight: 500;
  z-index: 1;

  &:active,
  &:focus {
    border: none;
    outline: 0;
  }
}

.tabMenuItemText {
  vertical-align: middle;
  display: table-cell;
  padding: 0 1rem;
}

.selected {
  border-bottom: 2px solid $liquidNeonColor;
  color: $liquidNeonColor;
  height: 100%;
  width: 70%;
  margin: 0 auto;
  min-width: fit-content;
  font-weight: bold;

  &::before {
    left: 0;
    right: 0;
    -webkit-transition: left 0.3s ease-out, right 0.3s ease-out;
    transition: left 0.3s ease-out, right 0.3s ease-out;
  }
}

.tabMenuLine {
  border-top: 2px solid #3c3f43;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .tabMenuItemText {
    padding: 0 2rem;
  }
}
