@import '../../style/themes/bitmatrix.scss';

.swap-amount-rate {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: none !important;
  border-radius: 0 0 1rem 1rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.left-radio-item {
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-bottom-left-radius: 0.5rem;
}

.middle-radio-item {
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.right-radio-item {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-bottom-right-radius: 0.5rem;
}

.swap-amount-rate .rs-radio-item-prefix-checker > label {
  line-height: 2 !important;
  font-size: 0.85rem !important;
  font-weight: 600 !important;
  padding: 0.75rem;
  cursor: pointer;
}

.left-radio-item.rs-radio-item-prefix-checked .rs-radio-item-prefix-checker {
  color: $bmNero !important;
  background-color: $bmPaleGreen;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0.5rem;
}

.middle-radio-item.rs-radio-item-prefix-checked .rs-radio-item-prefix-checker {
  color: $bmNero !important;
  background-color: $bmPaleGreen;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.right-radio-item.rs-radio-item-prefix-checked .rs-radio-item-prefix-checker {
  color: $bmNero !important;
  background-color: $bmPaleGreen;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0.5rem;
}

.rs-radio-item-prefix-wrapper {
  display: none;
}
