@import '../../style/themes/bitmatrix.scss';

.app-router-main {
  background: #010403;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app-container {
  margin-top: 4rem;
  margin-bottom: 0;
}

.secret-div {
  height: 9rem;
  background: black;
  z-index: 4;
  width: 100%;
  position: fixed;
  top: 0rem;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .app-container {
    margin-bottom: 3rem;
    margin-top: 0;
  }
}
