@import '../../style/themes/bitmatrix.scss';

.app-router-main {
  background: #010403;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.secret-top-div {
  height: 5rem;
  background: black;
  z-index: 4;
  width: 100%;
  position: fixed;
  top: 0rem;
}

.secret-footer-div {
  height: 3rem;
  background: black;
  z-index: 4;
  width: 100%;
  position: fixed;
  bottom: 0rem;
}

.app-container {
  width: 95%;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .app-container {
    width: 100%;
  }

  .secret-top-div {
    height: 9rem;
    background: black;
    z-index: 4;
    width: 100%;
    position: fixed;
    top: 0rem;
  }
}
