@import '../../style/themes/bitmatrix.scss';

.settings-page-main {
  // display: flex;
  // justify-content: center;
  width: 22rem;
  border: 2px solid #adfbc4;
  position: relative;
  border-radius: 1.5rem;
  margin-top: 2rem;
  height: 100%;
  background-color: #010403;
}

.settings-page-header {
  display: flex;
  justify-content: center;
  padding-top: 0.25rem;
}

.settings-page-content {
  padding: 1rem 1rem 0 1rem;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .settings-page-main {
    margin-top: 6rem;
    width: 38rem;
  }
}
