@import "../../style/constant.scss";

.wallet-list-item {
  margin-top: 1rem;
  background-color: rgb(44, 47, 54);
  border-radius: 1px solid rgb(64, 68, 79);
  cursor: pointer;
  font-size: 1rem;

  :hover {
    border: 1px solid $liquidNeonColor;
  }
}

.agreement-text {
  background-color: rgb(44, 47, 54);
  border-radius: 1px solid rgb(64, 68, 79);
}

.wallet-list-modal {
  padding-top: 1rem !important;
  .rs-modal-content {
    background-color: #191b1f !important;
  }
}
