@import '../../style/themes/bitmatrix.scss';

.wallet-list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem !important;
  margin-top: 1rem;
  background-color: $bmEbony;
  cursor: pointer;
  font-size: 1rem;
  border: 2px solid $bmPaleGreen !important;
  border-radius: 1rem !important;

  .wallet-text-header {
    color: $bmPaleGreen;
    margin-bottom: 0.25rem;
  }
}

.wallet-list-modal {
  padding-top: 1rem !important;
  margin: 0 auto !important;
  width: 21rem !important;
  .rs-modal-content {
    background-color: $bmBlackRussian !important;
    border: 2px solid $bmBlackRussian;
  }
  .rs-modal-dialog {
    transform: translateY(-50%);
    top: 50vh;
    margin: 0 auto;
    position: relative;
  }
}

.wallet-list-loading {
  z-index: 999;
  position: fixed;
  background: $bmBlackRussian;
  opacity: 0.5;
}

.wallet-list-item-icon {
  width: 3rem;
  margin-right: 1rem;
}

.wallet-list-item-description {
  font-size: 0.75rem;
  font-weight: 500;
  color: $bmFrenchGray;
}

.connect-wallet-header {
  .rs-modal-header-close {
    font-size: 1.2rem !important;
  }
}

// .connect-wallet-body {
//   .rs-modal-body {
//     margin-top: 1rem !important;
//   }
// }

.connect-wallet-title {
  font-size: 1.4rem !important;
}

@media only screen and (min-width: 768px) {
  .wallet-list-modal {
    width: 25rem !important;
  }
}

@media only screen and (max-height: 650px) {
  .wallet-list-modal {
    .rs-modal-dialog {
      transform: translateY(-50%);
      top: 40vh;
    }
  }
}
