@import '../../style/themes/bitmatrix.scss';

.pool-card-main {
  display: flex;
  align-items: center;
  background-color: $bmBastille;
  border-radius: 1rem;
  color: $bmWhite;
  height: 5rem;
  cursor: pointer;
  width: 100%;
  padding: 0 0.5rem;
}

.pool-card-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin: 0;

  li {
    user-select: none;
  }
}

.pool-card-modal-content {
  width: 100% !important;
}

.order-item {
  display: flex;
  align-items: center;
  // border-top-color: $bmBastille;
  // border-left-color: $bmBastille;
  // border-bottom-color: $bmBastille;
  // border-style: dashed;
  // border-right-width: 3px;
  // border-right-color: $bmBlack;
  // padding: 1rem 1rem 1rem 0;
  // margin-right: 1rem;
  height: 5rem;
}

.pool-card-column {
  width: 100%;
}

.pool-card-modal-column-1 {
  width: 100%;
}

.pool-card-modal-column-2 {
  width: 0%;
}

.pool-card-img {
  height: 1.5rem;
  margin: 0 0.25rem;
}

.token-content {
  min-width: 7rem;
  flex-direction: column;
  justify-content: center;
}

.token-item {
  font-size: 0.875rem;
  font-weight: 600;
}

.pool-card-up-text {
  color: #4caf50;
}

.pool-card-down-text {
  color: #f44336;
}

.pool-card-loading-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pool-card-tag {
  padding: 0.125rem 0.25rem !important;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .pool-card-column {
    width: 50%;
  }

  .pool-card-modal-column-1 {
    width: 75%;
  }

  .pool-card-modal-column-2 {
    width: 25%;
  }
}
