@import '../../style/themes/bitmatrix.scss';

.factory-page-main {
  width: 100%;
  border: 2px solid var(--theme-color);
  position: relative;
  border-radius: 1.5rem;
  background-color: $bmDeepFir;
  margin: 0 auto;
  min-height: 27rem;
}

.issuance {
  transform: translateX(-50%);
  transition: transform 300ms ease-in-out;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 50%;
  width: 100%;
}

.peg-in {
  transform: translate(50%);
  transition: transform 300ms ease-in-out;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 50%;
  width: 100%;
}

.peg-out {
  transform: translateX(-50%);
  transition: transform 300ms ease-in-out;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 50%;
  width: 100%;
}

.factory-page-header {
  display: flex;
  justify-content: center;
  padding-top: 0.25rem;
}

.factory-page-content {
  padding: 1rem 1rem 0 1rem;
  font-size: 1rem;
  position: relative;
  height: 52vh;
  overflow-y: auto;
  overflow-x: hidden;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .factory-page-main {
    width: 48rem;
    margin-top: 0;
    min-height: 26rem;
  }

  .factory-page-content {
    padding: 1rem 1rem 0 1rem;
    font-size: 0.875rem;
  }
}
