@import '../../style/themes/bitmatrix.scss';

.slider-option-main {
  display: flex;
  margin: 0 auto;
  margin-left: 40px;
}

.slider-option-item {
  flex: 0 1 33%;
  list-style: none;
  position: relative;
}

.slider-option-label {
  width: 100px;
  display: block;
}

.slider-option-item:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: $liquidNeonColor;
  top: 8px;
  left: -40%;
  right: 0;
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + .slider-option-label,
[type='radio']:not(:checked) + .slider-option-label {
  position: relative;
  padding-top: 30px;
  cursor: pointer;
  display: inline-block;
  color: $liquidNeonColor;
}
[type='radio']:checked + .slider-option-label:before,
[type='radio']:not(:checked) + .slider-option-label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 3px solid $liquidNeonColor;
  border-radius: 100%;
  background: #000;
}
[type='radio']:checked + .slider-option-label:after,
[type='radio']:not(:checked) + .slider-option-label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: $liquidNeonColor;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  transition: all 0.2s ease;
}
[type='radio']:not(:checked) + .slider-option-label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + .slider-option-label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.selected-title {
  color: $liquidNeonColor;
}

.unselected-title {
  color: #ccc;
}

.slider-option-title {
  position: absolute;
  top: 2rem;
  left: -0.3125rem;
}
