@import '../../style/themes/bitmatrix.scss';

.swap-main-div {
  background-image: url('../images/background.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

bitcoin-button {
  border-radius: 1.5rem !important;
  display: flex !important;
  align-items: center;
  border-radius: 1.5rem;
  margin-right: 0.75rem;
  max-height: 2.5rem;
  &:hover {
    opacity: 0.85;
  }
}

.layout {
  max-width: 22rem;
  margin: 0 auto;
  padding: 1.5rem;
  background: #fff;
  border-radius: 2.5rem;
  z-index: 1;
}

.btc-main-div {
  background: #fff;
  height: 8rem;
  border: 3px solid $btcColor;
  border-radius: 13px;
}

.btc-input {
  width: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.usd-div {
  width: 12rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.btc-context {
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.token-main-div {
  background: #fff;
  height: 8rem;
  width: 19rem;
  border: 3px solid gray;
  border-radius: 13px;
}

.divider {
  width: 100%;
  border-bottom: 2px solid $btcColor;
  border-radius: 4px;
  margin: 0.15rem 0;
}

.input {
  width: 8rem;
  height: 2rem;
  background: #fff;
  border-width: 0px;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
}

.input-usd {
  color: gray;
  &::placeholder {
    color: gray;
    opacity: 0.5;
  }
}

.input-btc {
  color: $btcColor;
  &::placeholder {
    color: $btcColor;
    opacity: 0.5;
  }
}

.usd-span {
  font-size: 1.5rem;
  margin-left: 2px;
}

.usd {
  font-size: 1.4rem;
  align-self: flex-start;
  font-weight: bold;
  color: gray;
}

.you-are-exchanging {
  padding: 0.75rem 0 0 0.75rem;
  color: gray;
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: left;
}

.btc {
  color: $btcColor;
  font-size: 1.4rem;
  align-self: flex-end;
  font-weight: bold;
}

.arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.bitcoin-div {
  display: flex;
  align-items: center;
}

.btc-image {
  width: 2rem;
  height: 100%;
  padding-right: 0.25rem;
}

.bottom-main-div {
  width: 21rem;
  margin: 0 auto;
  padding-bottom: 1rem;
  background: #fff;
  z-index: 0;
  margin-top: -1rem;
  text-align: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  bottom: -6rem;
}

.button {
  width: 19rem;
  height: 3rem;
  border-radius: 1rem !important;
  color: #fff !important;
  font-size: 1.25rem !important;
  background: gray !important;
  border-width: 0 !important;
  margin-top: 16px;
}

.bottom-text {
  color: grey;
  padding-top: 2rem;
}

.spice {
  color: #ef2a31;
}

.divider-spice {
  width: 100%;
  border-bottom: 2px solid #ef2a31;
  border-radius: 4px;
  margin: 0.5rem 0;
}

.spice-input {
  width: 7rem;
  height: 2rem;
  background: #23242a;
  border-width: 0px;
  color: #ef2a31;
  font-size: 1.25rem;
  font-weight: bold;
}

.select-token {
  border: 2px dashed gray;
  border-radius: 1rem;
  cursor: pointer;
  height: 3rem;
  margin: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.25rem;
}

#navMenuDiv {
  background-color: transparent;
}

.connection-status {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  font-size: 1rem;
  align-items: center;
  font-weight: 600;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 7px;
  border-radius: 50px;
  border: 1px solid #48b645;
  background-color: #48b645;
}

.down-arrow-icon {
  width: 1.25rem;
  margin: 1rem 0;
}

.connection-text {
  color: #48b645;
}

.bottom-text-span {
  font-size: 0.8rem;
}

.nav-buttons-right {
  display: none;
}

.footer {
  position: fixed;
  padding: 0.75rem 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 0 1.5px black;
}

.mobile-footer {
  display: flex;
  // justify-content: space-between;
  padding: 0 0.75rem;
}

.pentacle-icon {
  width: 4rem;
  margin-bottom: 3rem;
  transform: rotate(35deg);
}

@media only screen and (min-width: 800px) {
  .mobile-footer {
    display: none;
  }

  .footer {
    box-shadow: none;
  }

  .bitcoin-button {
    margin-right: 0;
  }

  .nav-buttons-right {
    display: flex;
  }
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .navbar-item {
    padding: 0 0.5rem !important;
  }

  .content {
    margin: 0 auto;
    // transform: translateY(40%);
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  .layout {
    max-width: 23rem;
    padding: 1.5rem;
    background: #fff;
    border-radius: 2.5rem;
  }

  .btc-main-div {
    background: #fff;
    height: 8rem;
    width: 20rem;
    border: 3px solid $btcColor;
    border-radius: 13px;
  }

  .btc-input {
    width: 13rem;
  }

  .usd-div {
    width: 13rem;
  }

  .token-main-div {
    background: #fff;
    height: 8rem;
    width: 20rem;
    border: 3px solid gray;
    border-radius: 13px;
  }

  .bottom-main-div {
    width: 22rem;
    margin: 0 auto;
    padding: 1rem;
    background: #fff;
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    bottom: -6rem;
  }

  .button {
    width: 20rem;
    height: 3rem;
    border-radius: 1rem !important;
    color: #fff !important;
    font-size: 1.25rem !important;
    background: gray !important;
    border-width: 0 !important;
    margin-top: 16px;

    &:hover {
      opacity: 0.85;
    }
  }
}

// @media only screen and (max-width: 600px) {
//   .content {
//     transform: translateY(8%) !important;
//   }
// }

// @media only screen and (min-height: 664px) {
//   .content {
//     transform: translateY(15%);
//   }
// }

// @media only screen and (min-height: 731px) {
//   .content {
//     transform: translateY(35%);
//   }
// }

// @media only screen and (min-height: 812px) {
//   .content {
//     transform: translateY(30%);
//   }
// }

// @media only screen and (min-height: 900px) {
//   .content {
//     transform: translateY(50%);
//   }
// }

// @media only screen and (min-height: 1092px) {
//   .content {
//     transform: translateY(65%);
//   }
// }
