.navbar-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 3rem;
  border-radius: 2rem;
  background: #fff;
  position: fixed;
  bottom: 6vh;
  padding: 0 !important;
}

.navbar-item-button {
  border-radius: 2rem !important;
  min-width: 7rem;
  background: #fff !important;
}

.navbar-item-button:hover {
  background-color: aliceblue !important;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}

// .navbar-item {
//   padding: 0 1rem;
// }
