@import '../../style/constant.scss';

.navbar-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 3rem;
  border-radius: 2rem;
  padding: 0 !important;
  background: #333334;
  margin-top: 3.5rem;
  position: fixed;
  top: 2rem;
  z-index: 5;
}

.navbar-item {
  margin: 0 0.25rem;
}

.navbar-item-button {
  border-radius: 2rem !important;
  min-width: 7rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  background: transparent !important;
  color: $navbarTextColor !important;
}

.navbar-item-button:hover {
  background: $navbarItemSelected !important;
  color: $liquidNeonColor !important;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}

.navbar-home-button {
  background: transparent !important;
  border-radius: 2rem !important;
  height: 2.5rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.navbar-home-button:hover {
  background: $swapBackgroundColor !important;
  color: $liquidNeonColor !important;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}

.navbar-home-icon {
  width: 3rem;
}

.navbar-item .mr-5 {
  margin-right: 0.5rem;
}

.navbar-item .ml-5 {
  margin-left: 0.5rem;
}

.navbar-main .active {
  background: $swapBackgroundColor !important;
  color: $liquidNeonColor !important;
}

.navbar-item-circle-div {
  position: relative;
  margin-right: 1rem;
  border-left: 1px solid;
  padding-left: 1rem;
  cursor: pointer;
  height: 3rem;
  display: flex;
  align-items: center;
}

.navbar-item-circle {
  width: 2rem;
}

.navbar-item-info {
  position: absolute;
  top: 1rem;
  right: 1.6875rem;
}

.loader {
  border: 0.25rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.25rem solid $navbarTextColor;
  width: 2.25rem;
  height: 2.25rem;
  animation: spin 2s linear infinite;

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.navbar-hover-button {
  background: transparent !important;
}

.navbar-popover {
  border-radius: 1rem !important;
  padding: 0 !important;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
}
