@import '../../style/themes/bitmatrix.scss';

.navbar-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 3rem;
  border-radius: 2rem;
  padding: 0 !important;
  background: $bmBastille;
  position: fixed;
  top: 2rem;
  z-index: 5;
  margin: 0 !important;
  .active {
    background: $bmDeepFir !important;
    color: var(--theme-color) !important;
  }
}

.navbar-item-button {
  border-radius: 2rem !important;
  min-width: 4.5rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  background: transparent !important;
  color: $bmAluminium !important;
  padding: 0 2px;

  &:hover {
    background: $bmNero !important;
    color: var(--theme-color) !important;
    box-shadow: 0px 0px 6px 0px $bmBlack;
    opacity: 0.75;
  }
}

.navbar-home-button {
  background: transparent !important;
  border-radius: 2rem !important;
  height: 2.5rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-left: 0.25rem;

  &:hover {
    background: $bmDeepFir !important;
    color: $bmPaleGreen !important;
    box-shadow: 0px 0px 6px 0px $bmBlack;
    opacity: 0.75;
  }
}

.navbar-home-icon {
  width: 3rem;

  &:hover {
    // background-image: url('../../images/bitmatrix_icon.png') !important;
    fill: $bmGray !important;
  }
}

.navbar-item .ml-25 {
  margin-left: 0.25rem;
}

.navbar-item .mr-25 {
  margin-right: 0.25rem;
}

.navbar-item .mr-5 {
  margin-right: 0.5rem;
}

.navbar-item .mr-75 {
  margin-right: 0.75rem;
}

.navbar-item .ml-5 {
  margin-left: 0.5rem;
}

.navbar-item-circle-div {
  position: relative;
  cursor: pointer;
  height: 3rem;
  display: flex;
  align-items: center;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  text-align: -webkit-center;
  outline: 0;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid $bmNero;
  }
}

.navbar-item-circle {
  width: 2rem;
}

.navbar-item-info {
  position: absolute;
  color: $bmAluminium;
  font-weight: 600;
}

.loader {
  border: 0.25rem solid $bmWhiteSmoke;
  border-radius: 50%;
  border-top: 0.25rem solid $bmAluminium;
  width: 2.25rem;
  height: 2.25rem;
  animation: spin 2s linear infinite;

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.navbar-hover-button {
  background: transparent !important;
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.navbar-popover {
  border-radius: 1rem !important;
  padding: 0 !important;
}

.navbar-mobile-icon {
  width: 2rem;
}

.navbar-item {
  margin: 0 0.0625rem;
}

.navbar-item-icon {
  width: 1.25rem;
  transform: scale(110%);
}

.home-icon {
  width: 3rem !important;
  height: 1.75rem !important;
}

.navbar-home-button:hover .home-icon {
  fill: $bmPaleGreen !important;
}

.selected-home-icon {
  fill: $bmPaleGreen !important;
}

.unselected-home-icon {
  fill: $bmShadyLady !important;
}

.navbar-settings-button {
  margin-right: 0.25rem;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .navbar-main {
    top: 4rem;
  }

  .navbar-item-button {
    min-width: 7rem;
    padding: 0;
  }

  .navbar-item {
    margin: 0 0.25rem;
  }

  .navbar-home-button {
    margin: 0;
  }

  .navbar-settings-button {
    margin: 0;
  }
}

@media only screen and (min-height: $mobile-view-breakpoint) {
  .navbar-main {
    top: 6rem;
  }
}
