$btcColor: #f7921a;
$grayButonColor: #c8c7cb;
$liquidColor: #45b4a4;
$liquidNeonColor: #adfbc4;
$swapBackgroundColor: #010403;
$swapGrayColor: #999;

//Navbar
$navbarBackground: #333334;
$navbarTextColor: #818489;
$navbarItemSelected: #181818;
