@import './themes/bitmatrix.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

*,
html,
body {
  font-family: $fontFamily;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $defaultTextColor;
}

html,
body,
#root {
  overflow: hidden;
  width: 100% !important;
  height: 100% !important;
  background-color: #010403 !important;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  html {
    overflow: hidden;
  }
}

/**
  *
  * Margin Padding
  *
  */
@import './global/margin.scss';
@import './global/padding.scss';

/**
  *
  * Buttons
  *
  */
@import './global/buttons.scss';
