@import '../../../style/themes/bitmatrix.scss';

.swap-page-footer {
  bottom: 0.5rem;
  position: fixed;
  z-index: 5;
}

.swap-page-footer-icons {
  position: relative;
  display: flex;
  width: 15rem;
  justify-content: space-evenly;
}

.swap-page-footer-icon-item {
  color: unset !important;
}

.swap-page-footer-icon {
  font-size: 2rem !important;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .swap-page-footer {
    bottom: 2rem;
    position: fixed;
  }
}

@media (min-height: $mobile-view-breakpoint) and (min-width: $mobile-view-breakpoint) {
  .swap-page-footer {
    bottom: 3.5rem;
  }
}
