@import '../../../style/themes/bitmatrix.scss';

.theme-item-head {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
}

.theme-item-first-head {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 1.25rem;
}

.theme-title {
  color: $bmVeryLightGray;
}

.theme-icon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.theme-item {
  margin-left: 0.5rem;
  margin-bottom: 2.5rem;
}

.prefferred-unit {
  width: 70%;
}

.theme-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 19rem;
}

.theme-tag {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 4px solid $bmDeepFir;
  outline: 4px solid $bmBastille;
}

.theme-selected {
  outline: 4px solid $bmPaleGreen !important;
}

.gray-theme {
  background: $bmBastille;
}

.white-theme {
  background: $bmVeryLightGray;
}

.yellow-theme {
  background: $bmYellow;
}

.red-theme {
  background: $bmDarkPink;
}

.blue-theme {
  background: $bmBlue;
}

.pink-theme {
  background: $bmPink;
}

.turquoise-theme {
  background: $bmTurquoise;
}

.neon-theme {
  background: $bmPaleGreen;
}

.exclusive-icon {
  width: 2rem;
  height: 2rem;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .theme-item {
    margin-left: 1rem;
  }

  .theme-item-content {
    width: 25rem;
  }

  .theme-tag {
    width: 2.5rem;
    height: 2.5rem;
  }
}
