@import '../../style/themes/bitmatrix.scss';

.pool-detail-container {
  width: 95%;
}

.pool-detail-main {
  border: 2px solid $bmPaleGreen;
  position: relative;
  border-radius: 1.5rem;
  height: 31rem;
  width: 100%;
}

.pool-detail-header-left {
  display: flex;
  align-items: center;
}

.pool-detail-header {
  padding: 0.75rem 0.75rem 0 0.75rem;
}

.pool-detail-page-text {
  margin-left: 0.5rem;
  color: $bmPaleGreen;
}

.pool-detail-content {
  height: calc(100% - 0.5rem);
  padding: 0.75rem;
}

.pool-detail-content-left {
  background: $bmBlackRussian;
  border-radius: 1rem;
  padding: 0.5rem;
  color: $bmAluminium;
}

.pool-detail-img-content {
  display: flex;
  align-items: center;
  color: $bmWhiteSmoke;
}

.pool-detail-img {
  margin-right: 0.25rem;
}

.pool-detail-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  width: 100%;

  .pool-detail-amount-item {
    display: flex;
    align-items: center;
    background: $bmBlack;
    border-radius: 1rem;
    width: 48%;
    height: 2.5rem;
    padding-left: 0.5rem;
  }
}

.pool-detail-table-arrow-down-text {
  margin-left: 0.25rem;
  color: $bmRed;
  font-size: 0.75rem;
}

.pool-detail-table-arrow-up-text {
  margin-left: 0.25rem;
  color: $bmGreen;
  font-size: 0.75rem;
}

.pool-detail-table-text {
  color: $LightGray;
  font-size: 0.875rem;
  font-weight: 600;
}

.pool-detail-content-right {
  margin-bottom: 0.5rem;
  height: calc(100% - 21rem);
}

.pool-detail-content-left-header {
  display: flex;
  align-items: center;
  padding-left: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: $bmDimGray;
}

.pool-detail-button {
  display: flex !important;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-radius: 1rem !important;
  background: $bmBlackRussian !important;
  opacity: 0.8;
  padding: 8px 12px 8px 0;
  &:hover {
    opacity: 1;
  }
}

.pool-detail-add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.75rem;
}

.pool-metrics {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem 0;

  .pool-metrics-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pool-metrics-item {
      background: #000000;
      border-radius: 1rem;
      width: 48%;
      height: 4.75rem;
      padding: 0.5rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .pool-detail-container {
    width: unset;
  }

  .pool-detail-main {
    width: 60rem;
    height: 28rem;
  }

  .pool-detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
  }

  .pool-detail-header-right {
    margin-right: 5rem;
  }

  .pool-detail-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100% - 4rem);
    padding: 1rem;
  }

  .pool-detail-content-left {
    width: 17rem;
    height: 100%;
    margin-right: 0.5rem;
    background: $bmBlackRussian;
    border-radius: 1rem;
    padding: 0.75rem;
    color: $bmAluminium;
  }

  .pool-detail-content-right {
    width: calc(100% - 18rem);
    margin-left: 0.5rem;
    height: 100%;
    margin-bottom: unset;
  }

  .pool-detail-button {
    width: 17rem;
    height: 2.75rem;
  }

  .pool-detail-img {
    margin-right: 0.5rem;
  }
}
