@import '../../style/themes/bitmatrix.scss';

.wallet-button {
  width: 100%;
  height: 3rem;
  border-radius: 1rem !important;
  font-weight: 600 !important;
  color: $bmDeepFir !important;
  background: var(--theme-color) !important;
  border-width: 0 !important;
  margin-top: 1rem;
  opacity: 0.9;

  .rs-btn-spin {
    &::before {
      width: 1.5rem !important;
      height: 1.5rem !important;
      border: 3px solid $bmAluminium;
    }

    &::after {
      width: 1.5rem !important;
      height: 1.5rem !important;
      border-top: 3px solid $bmDeepFir !important;
    }
  }

  &:hover {
    opacity: 1;
  }
}

.wallet-button-banana-gif {
  height: 1.5rem;
  width: 1.5rem;
}

.wallet-button-loading {
  text-align: -webkit-center;
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .wallet-button {
    height: 2.75rem;
  }
}
