@import '../../style/themes/bitmatrix.scss';

.loading {
  border: 0.25rem solid #818489;
  border-radius: 50%;
  border-top: 0.25rem solid $navbarBackground;
  // width: 2.25rem;
  // height: 2.25rem;
  animation: spin 2s linear infinite;

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
