@import '../../style/themes/bitmatrix.scss';

.custom-checkbox-container {
  display: block;
  position: relative;
  padding-left: 27px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #000;
  border: 2px solid #fff;
}

.custom-checkbox-container:hover input ~ .checkmark {
  background-color: #000;
}

.custom-checkbox-container input:checked ~ .checkmark {
  background-color: #adfbc4;
  border: none;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.custom-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox-container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
