@import '../../../style/themes/bitmatrix.scss';

.swap-footer-tab {
  height: 3rem;
  margin-top: 2.5rem;
  width: fit-content;
  border: 1px solid;
  margin: 3rem auto 0;
  display: flex;
  align-items: center;
  border-radius: 0.8125rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 7.5rem;
}

.swap-footer-tab div {
  position: relative;
  height: 100%;
  float: left;
  // padding-left: 1rem;
}

.swap-footer-tab-one {
  padding: 0 1.5rem;
  background: #333;
  width: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.swap-footer-tab-one:after {
  content: '';
  border-top: 46px solid transparent;
  border-left: 17px solid #333;
  right: -17px;
  content: '';
  width: 0px;
  height: 0px;
  top: 0px;
  position: absolute;
  z-index: 5;
}

.swap-footer-tab-two {
  padding: 0 3rem;
  background: #000;
  width: 100%;
  color: $swapGrayColor;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.info-close-icon {
  margin-right: 0.5rem;
}
