@import '../../style/themes/bitmatrix.scss';

.pool-main-div {
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-out;
  transition-timing-function: linear;
  margin: 0 auto;
  width: 100%;

  .no-pool-text {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size: 1.5rem;
  }
}

.pool-detail-transition {
  transform: scale(97%);
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .pool-detail-transition {
    transform: scale(105%);
  }
}
