@import './style/constant.scss';

.App {
  text-align: center;
  min-height: 100vh;

  .dark {
    background-color: $btcColorDarkMode;
  }

  .light {
    background-color: $whiteButonColor;
  }
}

@media only screen and (max-width: 798px) {
  .mobile-hidden {
    display: none;
  }
}
