@import '../../../style/themes/bitmatrix.scss';

.remove-liquidity-page-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $bmDeepFir;
  width: 100%;

  .remove-liquidity-page-content {
    position: relative;
    margin: 0 auto;
    border: 2px solid var(--theme-color);
    border-radius: 1.5rem;
    padding: 0.75rem;
    min-height: 20.8125rem;
    z-index: 6;
    width: 95%;
    animation: shrink 0.3s linear;
    animation-delay: -0.1s;

    @keyframes shrink {
      from {
        width: 60rem;
      }
      to {
        width: 45rem;
      }
    }

    .remove-liquidity-page-loading {
      z-index: 999;
      position: fixed;
      background: #171718;
      opacity: 0.5;
      bottom: 1.75rem !important;
    }

    .remove-liquidity-main {
      margin: 2rem 0 3rem 0;
      .remove-liquidity-text {
        text-align: left;
        margin-bottom: 2rem;

        .remove-liquidity-text-header {
          font-size: 1rem;
          font-weight: 600;
          color: $bmShadyLady;
        }

        .remove-liquidity-text-body {
          font-size: 2.2rem;
          font-weight: 600;
          color: $bmShadyLady;
        }
      }

      .remove-liquidity-slider {
        margin-bottom: 3rem;

        .rs-slider-handle {
          top: -0.5rem !important;

          &::before {
            border: 6px solid var(--theme-color) !important;
            width: 1.25rem !important;
            height: 1.25rem !important;
          }
        }
      }

      .remove-liquidity-button-toolbar {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;

        .remove-liquidity-buttons {
          width: 4.5rem !important;
          color: var(--theme-color) !important;
          border-color: var(--theme-color) !important;
          border-radius: 0.875rem !important;
          font-weight: 600;

          &:hover {
            color: $bmBlack !important;
            background-color: var(--theme-color) !important;
          }
        }
      }
    }

    .remove-liquidity-page-footer {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0.5rem 0;

      .remove-liquidity-page-footer-line-item-first {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 2px solid;
      }

      .remove-liquidity-page-footer-line-item-second {
        width: 36%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-left: 2px solid;
        border-right: 2px solid;
      }

      .remove-liquidity-page-footer-line-item-third {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .remove-liquidity-page-footer-line-item-texts {
        font-size: 0.9rem;
        font-weight: 600;
        margin-right: 0.5rem;
      }

      .remove-liquidity-page-icon-content {
        display: flex;
        align-items: center;
      }

      .remove-liquidity-page-icons {
        height: 1.25rem;
      }

      .remove-liquidity-page-footer-line-item-values {
        font-size: 1.6rem;
        font-weight: 600;
        color: $bmShadyLady;
        max-width: 13.5rem;
        overflow: hidden;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .remove-liquidity-button-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .remove-liquidity-page-back-button {
      width: 100%;
      height: 3rem;
      display: flex !important;
      align-items: center;
      border-radius: 1rem !important;
      background: $bmNero !important;
      opacity: 0.8;
      padding: 8px 12px 8px 0;

      &:hover {
        opacity: 1;
      }

      .remove-liquidity-back-text {
        margin-left: 0.5rem;
        color: var(--theme-color);
      }
    }

    .remove-liquidity-button {
      height: 2.75rem !important;
      margin-top: 0 !important;
    }
  }
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .remove-liquidity-page-main {
    .remove-liquidity-page-content {
      width: 40rem;
      padding: 1.5rem;

      .remove-liquidity-main {
        margin: 1rem 0;
        .remove-liquidity-text {
          margin-bottom: 1rem;
        }

        .remove-liquidity-slider {
          margin-bottom: 1.75rem;
        }
        .remove-liquidity-button-toolbar {
          .remove-liquidity-buttons {
            width: 5rem !important;
          }
        }
      }

      .remove-liquidity-page-footer {
        margin: 1.75rem 0;

        .remove-liquidity-page-footer-line-item-first {
          width: 32%;
          border-right: unset;
        }

        .remove-liquidity-page-footer-line-item-third {
          width: 32%;
        }
      }

      .remove-liquidity-button {
        width: 20rem;
        padding: 0 !important;
      }
    }
  }
}
