@import '../../../style/themes/bitmatrix.scss';

.remove-liquidity-page-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $bmDeepFir;
  width: 100%;
  animation: fadeAndScale 1s linear;
  animation-delay: -0.2s;
  transform-origin: center bottom;

  @keyframes fadeAndScale {
    0% {
      opacity: 0;
      transform: scale3d(0.5, 0.5, 1);
    }
    50% {
      opacity: 0;
      transform: scale3d(0.75, 0.75, 1);
    }
    100% {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

  .remove-liquidity-page-content {
    position: relative;
    margin: 0 auto;
    border: 2px solid $bmPaleGreen;
    border-radius: 1.5rem;
    padding: 0.75rem;
    min-height: 20.8125rem;
    z-index: 6;
    width: 95%;

    .remove-liquidity-main {
      margin: 2rem 0 3rem 0;
      .remove-liquidity-text {
        text-align: left;
        margin-bottom: 2rem;

        .remove-liquidity-text-header {
          font-size: 1rem;
          font-weight: 600;
          color: $bmShadyLady;
        }

        .remove-liquidity-text-body {
          font-size: 2.2rem;
          font-weight: 600;
          color: $bmShadyLady;
        }
      }

      .remove-liquidity-slider {
        margin-bottom: 3rem;

        .rs-slider-handle {
          top: -0.5rem !important;

          &::before {
            border: 6px solid $bmPaleGreen !important;
            width: 1.25rem !important;
            height: 1.25rem !important;
          }
        }
      }

      .remove-liquidity-button-toolbar {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;

        .remove-liquidity-buttons {
          width: 4.5rem !important;
          color: $bmPaleGreen !important;
          border-color: $bmPaleGreen !important;
          border-radius: 0.875rem !important;
          font-weight: 600;

          &:hover {
            color: $bmBlack !important;
            background-color: $bmPaleGreen !important;
          }
        }
      }
    }

    .remove-liquidity-page-footer {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0.5rem 0;

      .remove-liquidity-page-footer-line-item-first {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 2px solid;
      }

      .remove-liquidity-page-footer-line-item-second {
        width: 36%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-left: 2px solid;
        border-right: 2px solid;
      }

      .remove-liquidity-page-footer-line-item-third {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .remove-liquidity-page-footer-line-item-texts {
        font-size: 0.9rem;
        font-weight: 600;
        margin-right: 0.5rem;
      }

      .remove-liquidity-page-icons {
        height: 1.2rem;
      }

      .remove-liquidity-page-footer-line-item-values {
        font-size: 1.6rem;
        font-weight: 600;
        color: $bmShadyLady;
        max-width: 13.5rem;
        overflow: hidden;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .remove-liquidity-button-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .remove-liquidity-button {
      width: 100%;
      height: 2.75rem;
      border-radius: 1rem !important;
      font-weight: 600 !important;
      color: $bmDeepFir !important;
      background: $bmPaleGreen !important;
      border-width: 0 !important;
      opacity: 0.9;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .remove-liquidity-page-main {
    .remove-liquidity-page-content {
      width: 40rem;
      padding: 1.5rem;

      .remove-liquidity-main {
        margin: 1rem 0;
        .remove-liquidity-text {
          margin-bottom: 1rem;
        }

        .remove-liquidity-slider {
          margin-bottom: 1.75rem;
        }
        .remove-liquidity-button-toolbar {
          .remove-liquidity-buttons {
            width: 5rem !important;
          }
        }
      }

      .remove-liquidity-page-footer {
        margin: 1.75rem 0;

        .remove-liquidity-page-footer-line-item-first {
          width: 32%;
          border-right: unset;
        }

        .remove-liquidity-page-footer-line-item-third {
          width: 32%;
        }
      }

      .remove-liquidity-button {
        width: 20rem;
        padding: 0 !important;
      }
    }
  }
}
