@import '../../style/themes/bitmatrix.scss';

.liquidity-page-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $bmDeepFir;
  width: 100%;
  animation: fadeAndScale 1s linear;
  animation-delay: -0.2s;
  transform-origin: center bottom;

  @keyframes fadeAndScale {
    0% {
      opacity: 0;
      transform: scale3d(0.5, 0.5, 1);
    }
    50% {
      opacity: 0;
      transform: scale3d(0.75, 0.75, 1);
    }
    100% {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

  .liquidity-page-content {
    position: relative;
    margin: 0 auto;
    border: 2px solid $bmPaleGreen;
    border-radius: 1.5rem;
    padding: 0.75rem;
    min-height: 20.8125rem;
    z-index: 6;
    width: 95%;

    .liquidity-button-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .remove-liquidity-button {
      margin-top: 1.5rem;
    }

    .liquidity-page-back-button {
      width: 100%;
      height: 3rem;
      display: flex !important;
      align-items: center;
      border-radius: 1rem !important;
      background: $bmNero !important;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }

      .liquidity-back-text {
        margin-left: 1rem;
        color: $bmPaleGreen;
      }

      .liquidity-back-icon {
        height: 3rem !important;
        font-size: 3rem !important;
        color: $bmPaleGreen !important;
        cursor: pointer;
      }
    }

    .liquidity-button {
      width: 100%;
      height: 2.75rem;
      border-radius: 1rem !important;
      font-weight: 600 !important;
      color: $bmDeepFir !important;
      background: $bmPaleGreen !important;
      border-width: 0 !important;
      opacity: 0.9;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: $mobile-view-breakpoint) {
  .liquidity-page-main {
    .liquidity-page-content {
      width: 48rem;
      padding: 1.5rem;

      .liquidity-page-back-button {
        width: 18rem;
      }

      .liquidity-button {
        width: 25rem;
        margin-top: 1rem;
      }

      .remove-liquidity-button {
        margin-top: 0;
      }
    }
  }
}
